<div class="container">
    <h4 class="h4 text-center mt-3 text-dark text-capitalize">{{ active_tab}} {{ proyecto.proyecto }}</h4>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold {% if active_tab == 'detalles' %}active{% endif %}"
                href="{% url 'proyectos:detalles_proyecto' proyecto.slug %}">Detalles de proyecto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold {% if active_tab == 'ingresos' %}active{% endif %}"
                href="{% url 'contabilidad:ingresos' proyecto.slug %}">Ingresos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold {% if active_tab == 'gastos' %}active{% endif %}"
                href="{% url 'contabilidad:gastos' proyecto.slug %}">Gastos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold {% if active_tab == 'nóminas' %}active{% endif %}"
                href="{% url 'contabilidad:nominas' proyecto.slug %}">Nóminas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold {% if active_tab == 'asistencias' %}active{% endif %}"
                href="{% url 'empleados:asistencias' proyecto.slug %}">Asistencias</a>
        </li>
    </ul>
</div>