{% extends 'base.html' %}
{% block title %}Registro de proyectos{% endblock %}

{% block content %}
{% load static %}

<h4 class="h4 text-center text-danger">Registrar proyecto</h4>

<hr class="border border-danger border-3 opacity-75">

<div class="container text-center">
    <form method="post">
        {% csrf_token %}

        {{proyectos_form}}

        <button type="submit" class="btn btn-danger">Registrar proyecto</button>
    </form>
</div>

<script type="text/javascript" src="{% static 'js/validacion_proyectos.js' %}"></script>

{% endblock %}