{% extends 'base.html' %}
{% block title %}Gastos proyecto {{ proyecto.proyecto }}{% endblock %}
{% load currency %}
{% block content %}
<div class="container">

    {% block proyecto_nav_tabs %}
    {% if mostrar_tabs %}
    {% include 'partials/menu_proyecto_tabs.html' %}
    {% endif %}
    {% endblock %}
    
    <hr class="border border-secondary border-3 opacity-75">

    <div class="container text-center">
        <div class="row gx-5">
            <div class="col">
                <a href="{% url 'contabilidad:registro_gastos' proyecto.slug %}"
                    class="btn btn-outline-secondary btn-lg fw-semibold p-3">Registrar gasto</a>
            </div>
            <div class="col">
                <a href="{% url 'contabilidad:registro_nomina' proyecto.slug %}"
                    class="btn btn-outline-secondary btn-lg fw-semibold p-3">Registrar nómina</a>
            </div>
        </div>
    </div>

    <hr class="border border-secondary border-3 opacity-75">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Monto</th>
                    <th scope="col">I.V.A.</th>
                    <th scope="col">Comprador</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for gasto in gastos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ gasto.concepto }}</td>
                    <td>{{ gasto.monto|pesos }}</td>
                    <td>{{ gasto.iva|pesos }}</td>
                    <td>{{ gasto.comprador }}</td>
                    <td>{{ gasto.fecha|date:"d-M-y" }}</td>
                    <td><a href="#"
                            class="btn btn-outline-danger">Editar</a></td>
                    <td><a href="{% url 'contabilidad:eliminar_gasto' proyecto.slug gasto.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="1"></td>
                    <td><strong>Total:</strong></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}