{% extends 'base.html' %}
{% block title %}Lista de gastos vehículos{% endblock %}
{% load currency %}
{% block content %}

<h4 class="h4 text-center mt-3 text-danger"> Gastos de vehículos {{proyecto.proyecto}}</h4>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'proyectos:detalles_proyecto' proyecto.slug %}">Detalles de proyecto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'contabilidad:gastos_vehiculos' proyecto.slug %}">Gastos vehículos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_generales' proyecto.slug %}">Gastos generales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_materiales' proyecto.slug %}">Gastos materiales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_mano_obra' proyecto.slug %}">Gastos mano de obra</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_seguridad' proyecto.slug %}">Gastos seguridad</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_equipos' proyecto.slug %}">Gastos equipos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:ingresos' proyecto.slug %}">Ingresos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'empleados:asistencias' proyecto.slug %}">Asistencias</a>
    </li>
</ul>

<hr class="border border-danger border-3 opacity-75">

<div class="table-responsive">

    <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Placas</th>
                <th scope="col">Volumen de combustible (L)</th>
                <th scope="col">Monto</th>
                <th scope="col">I.V.A.</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for gasto in gastosvehiculos_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ gasto.vehiculo }}</td>
                <td>{{ gasto.vehiculo.placas }}</td>
                <td>{{ gasto.cantidad_combustible|floatformat:2 }}</td>
                <td>{{ gasto.monto|pesos }}</td>
                <td>{{ gasto.iva|pesos }}</td>
                <td>{{ gasto.fecha|date:"d-M-y" }}</td>
                <td><a href="{% url 'contabilidad:editar_gastos_vehiculos' proyecto.slug gasto.id %}" class="btn btn-outline-danger">Editar</a></td>
                <td><a href="{% url 'contabilidad:eliminar_gastos_vehiculos' proyecto.slug gasto.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar este gasto?');" class="btn btn-outline-danger">Eliminar</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td><strong>Total:</strong></td>
                <td><strong>{{ total_monto|pesos }}</strong></td>
                <td><strong>{{ total_iva|pesos }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container m-4">
    <a href="{% url 'contabilidad:registro_gastos_vehiculos' proyecto.slug %}" class="btn btn-danger">Registrar gasto de vehículo</a>
    
    <a href="{% url 'equipos_y_vehiculos:registro_vehiculos' %}" class="btn btn-danger">Registrar vehículo</a>
</div>

{% endblock %}