{% extends 'base.html' %}
{% block title %}Gastos proyecto {{ proyecto.proyecto }}{% endblock %}
{% load currency %}
{% block content %}
<div class="container">

    <h4 class="h4 text-center mt-3 text-dark">Gastos {{ proyecto.proyecto }}</h4>

    {% if proyecto %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold" href="{% url 'proyectos:detalles_proyecto' proyecto.slug %}">Detalles de proyecto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold" aria-current="page" href="{% url 'contabilidad:ingresos' proyecto.slug %}">Ingresos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold active" href="{% url 'contabilidad:gastos' proyecto.slug %}">Gastos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold" href="{% url 'contabilidad:nominas' proyecto.slug %}">Nóminas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold" href="{% url 'empleados:asistencias' proyecto.slug %}">Asistencias</a>
        </li>
    </ul>
    {% endif %}

    <hr class="border border-secondary border-3 opacity-75">

    <div class="container text-center">
        <div class="row gx-5">
            <div class="col">
                <a href="{% url 'contabilidad:registro_gastos' proyecto.slug %}"
                    class="btn btn-outline-secondary btn-lg fw-semibold p-3">Registrar gasto</a>
            </div>
            <div class="col">
                <a href="{% url 'contabilidad:registro_nomina' proyecto.slug %}"
                    class="btn btn-outline-secondary btn-lg fw-semibold p-3">Registrar nómina</a>
            </div>
        </div>
    </div>

    <hr class="border border-secondary border-3 opacity-75">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Monto</th>
                    <th scope="col">I.V.A.</th>
                    <th scope="col">Comprador</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for gasto in gastos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ gasto.concepto }}</td>
                    <td>{{ gasto.monto|pesos }}</td>
                    <td>{{ gasto.iva|pesos }}</td>
                    <td>{{ gasto.comprador }}</td>
                    <td>{{ gasto.fecha|date:"d-M-y" }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="1"></td>
                    <td><strong>Total:</strong></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}