{% extends 'base.html' %}
{% block title %}Gastos proyecto {% endblock %}
{% load currency %}
{% block content %}

<a href="{% url 'contabilidad:registro_categoria_gastos' %}"
    class="btn btn-outline-secondary btn-lg fw-semibold p-3">Registrar categorias gastos</a>

<ul>
    {% for categoria in categorias %}
    <li>{{ categoria.nombre }}</li>
    <a href="{% url 'contabilidad:eliminar_categoria_gasto' categoria.id %}" class="btn btn-outline-danger">Eliminar categoría</a>
    
    {% endfor %}
</ul>
{% endblock %}