{% extends 'base.html' %}
{% block title %}Asistencias{% endblock %}
{% block content %}
<div class="container">

    {% block proyecto_nav_tabs %}
    {% if mostrar_tabs %}
    {% include 'partials/menu_proyecto_tabs.html' %}
    {% endif %}
    {% endblock %}

    <hr class="border border-secondary border-3 opacity-75">

    <div class="container text-center">
        <div class="row gx-5">
            <div class="col">
                <a class="btn btn-outline-secondary btn-lg fw-semibold p-3" href="#">Registrar
                    asistencias</a>
            </div>
        </div>
    </div>

    <hr class="border border-secondary border-3 opacity-75">


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre completo</th>
                    <th scope="col">RFC</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Asistencia</th>
                    <th scope="col">Horas extras</th>
                </tr>
            </thead>
            {% if asistencias %}
            <tbody>
                {% for asistencia in asistencias %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ asistencia.empleado.nombres }} {{ asistencia.empleado.apellido_paterno }}
                        {{ asistencia.empleado.apellido_materno }}</td>
                    <td>{{ asistencia.empleado.rfc }}</td>
                    <td>{{ asistencia.fecha }}</td>
                    <td>{{ asistencia.asistencias }}</td>
                    <td>{{ asistencia.horas_extras }}</td>
                    <td><a href="{% url 'empleados:eliminar_asistencia' proyecto.slug asistencia.id %}"
                            onclick="return confirm('¿Estás seguro de que quieres eliminar esta asistencia?');"
                            class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}