{% extends 'base.html' %}
{% block title %}Nóminas{% endblock %}
{% load currency %}
{% block content %}

{% include 'navbar_profile.html' %}

<h4 class="h4 text-center text-danger mt-3">Nóminas {{ proyecto }}</h4>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'proyectos:detalles_proyecto' proyecto.slug %}">Detalles de proyecto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_vehiculos' proyecto.slug %}">Gastos
            vehículos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_generales' proyecto.slug %}">Gastos generales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_materiales' proyecto.slug %}">Gastos materiales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
            href="{% url 'contabilidad:gastos_mano_obra' proyecto.slug %}">Gastos mano de obra</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_seguridad' proyecto.slug %}">Gastos seguridad</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:gastos_equipos' proyecto.slug %}">Gastos equipos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contabilidad:ingresos' proyecto.slug %}">Ingresos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'empleados:asistencias' proyecto.slug %}">Asistencias</a>
    </li>
</ul>

<hr class="border border-danger border-3 opacity-75">

{% if nominas %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">RFC</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nómina</th>
                <th scope="col">INFONAVIT</th>
                <th scope="col">IMSS</th>
                <th scope="col">ISR</th>
                <th scope="col">Horas extras</th>
                <th scope="col">Lote</th>
            </tr>
        </thead>
        <tbody>
            {% for nomina in nominas %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ nomina.empleado.rfc }}</td>
                <td>{{ nomina.empleado.nombres }} {{ nomina.empleado.apellido_paterno }}
                    {{ nomina.empleado.apellido_materno }}</td>
                <td>{{ nomina.salario|pesos }}</td>
                <td>{{ nomina.infonavit|pesos }}</td>
                <td>{{ nomina.imss|pesos }}</td>
                <td>{{ nomina.isr|pesos }}</td>
                <td>{{ nomina.horas_extras|pesos }}</td>
                <td>{{ nomina.lote}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}