{% extends 'base.html' %}
{% block title %} Ajuste presupuesto {{ presupuesto.nombre_proyecto }} {% endblock %}
{% load currency %}
{% block content %}
{% load static %}

<h4 class="h4 text-center text-primary mt-3">Ajuste presupuesto {{ presupuesto.nombre_proyecto }} </h4>

<hr class="border border-primary border-3 opacity-75">

<div class="responsive-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Concepto</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>P.U.</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in conceptos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.concepto }}</td>
                <td>{{ item.unidad }}</td>
                <td><input type="number"></td>
                <td>{{ item.precio_unitario }}</td>
                <td><input type="number" class="form-control" readonly="readonly"></td>
            </tr>
            {% endfor %}
        </tbody>
        <tr>
            <td colspan="4"></td>
            <td><strong>Subtotal:</strong></td>
            <td id="subtotal-general"><strong></strong></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td><strong>IVA 16%:</strong></td>
            <td id="iva"><strong></strong></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td><strong>Total:</strong></td>
            <td id="total-general"><strong></strong></td>
        </tr>
    </table>
</div>

<a href="{% url 'presupuestos:ingresar_precios_unitarios' presupuesto.slug %}" class="btn btn-success">Agregar
    concepto</a>

<a href="{% url 'presupuestos:confirmar_presupuesto' presupuesto.slug %}" class="btn btn-success">Confirmar presupuesto</a>

<script type="text/javascript" src="{% static 'js/subtotal_presupuesto.js' %}"></script>

{% endblock%}