{% extends 'base.html' %}
{% block title %} Presupuesto - {{ num_presupuesto }} {% endblock %}
{% block content %}

{% load currency %}


<div class="presupuesto">
    <h1 class="h1-presupuesto">Presupuesto: {{ num_presupuesto }}</h1>

    <hr class="border border-danger border-3 opacity-75">

    <div class="header-presupuesto">
        <p class="text-capitalize"><strong>Cliente:</strong> {{ cliente }}</p>
        <p class="text-capitalize"><strong>Responsable:</strong>
            {{ responsable }}</p>
        <p class="text-capitalize"><strong>Fecha:</strong> {{ fecha }}</p>
    </div>

    <table class="table-presupuesto">
        <thead>
            <tr>
                <th>Concepto</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for partida in datos_pu %}
            <tr>
                <td>{{ partida.concepto }}</td>
                <td>{{ partida.cantidad }}</td>
                <td class="text-capitalize">{{ partida.unidad }}</td>
                <td>{{ partida.precio_unitario|pesos }}</td>
                <td>{{ partida.subtotal|pesos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="totales-presupuesto">
        <p><strong>Subtotal:</strong> {{ subtotal|pesos }}</p>
        <p><strong>IVA:</strong> {{ iva|pesos }}</p>
        <p><strong>Total General:</strong> {{ total_general|pesos }}</p>
    </div>

    <div class="footer-presupuesto">
        <p>Gracias por confiar en nosotros. ¡Esperamos su aprobación!</p>
    </div>
</div>


{% endblock %}