{% load static %}
<div class="container-fluid bg-success-subtle">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'proyectos:proyectos' %}">
                <img class="logo" src="{% static 'images/balancigastos.png' %}" alt="Logo">
            </a>
        </div>
        <div class="container">
            <ul class="nav nav-tabs justify-content-end fw-semibold">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu bg-success-subtle">
                        <li>
                            <a class="dropdown-item text-dark fw-semibold" href="{% url 'usuarios:profile' %}">Mi perfil</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-dark fw-semibold" href="{% url 'usuarios:password_change' %}">Cambiar contraseña</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-dark fw-semibold" href="{% url 'usuarios:edit_profile' %}">Editar perfil</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'proyectos:proyectos' %}">Proyectos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Empleados
                    </a>
                    <ul class="dropdown-menu bg-success-subtle">
                        <li>
                            <a class="dropdown-item text-dark fw-semibold" href="{% url 'empleados:empleados' %}">Empleados</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-dark fw-semibold" href="{% url 'empleados:registro_empleados' %}">Registrar empleado</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'usuarios:logout' %}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>
    <p class="text-capitalize text-dark fs-4 pb-3"><strong>| Bienvenido, {{ profile_username }}</strong></p>
</div>